/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/configure
/.deps/
/filedups
/filedups.plist/
/filedups.t2t
/procdups
/procdups.plist/
/procdups.t2t
/Makefile
/Makefile.in
/stamp-h1
/test*
/btsort.c
/geany_add.sh
/nooptim.sh
/dups.lst
/sortest.c
/tenlines.sh
/twofiles.c
/*.dat
/*.lst
/twofiles
/fuck*
/duplicates.*
